@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");
@import "ServiceForm.css";

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: "Crimson Text", serif;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Crimson Text", serif;
  letter-spacing: 2px;
  padding: 0 0 0 2rem;
}

.main_header {
  background-color: #cd5c5c;
  color: white;
}
